<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet " href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/community-profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>{{ community.name }}</title>
</head>

<body>
    <div class="community-page-background">

        <nav class="navbar navbar-expand-lg nav-01">
            <div class="container-fluid ">
                <a class="a-01" href="{{ url_for('user') }}">LearnBook</a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-response" aria-controls="navbar-response" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse justify-content-center" id="navbar-response">
                    <ul class="navbar-nav">
                        <li class="nav-item items-02">
                            <a class="a-02" href="{{ url_for('user') }}">
                                <div class="row text-center">
                                    <span class="material-symbols-outlined" id="navbar-icons">
                                        home
                                    </span>
                                </div>
                                <div class="row text-02 justify-content-center">
                                    Home
                                </div>
                            </a>
                        </li>
                        <li class="nav-item items-02">
                            <a class="a-02" href="{{ url_for('chat') }}">
                                <div class="row text-center">
                                    <span class="material-symbols-outlined" id="navbar-icons">
                                        chat
                                    </span>
                                </div>
                                <div class="row text-02 justify-content-center">
                                    Chats
                                </div>
                            </a>
                        </li>
                        <li class="nav-item items-02">
                            <a class="a-current" href="{{ url_for('search') }}">
                                <div class="row text-center">
                                    <span class="material-symbols-outlined" id="navbar-icons">
                                        groups
                                    </span>
                                </div>
                                <div class="row text-02 justify-content-center">
                                    Communites
                                </div>
                            </a>
                        </li>
                        <li class="nav-item items-02">
                            <a class="a-02" href="{{ url_for('search') }}">
                                <div class="row text-center">
                                    <span class="material-symbols-outlined" id="navbar-icons">
                                        search
                                    </span>
                                </div>
                                <div class="row text-02 justify-content-center">
                                    Search
                                </div>
                            </a>
                        </li>
                        <li class="nav-item items-02">
                            <a class="a-02" href="{{ url_for('profile_page') }}">
                                <div class="row text-center">
                                    <span class="material-symbols-outlined" id="navbar-icons">
                                        manage_accounts
                                    </span>
                                </div>
                                <div class="row text-02 justify-content-center">
                                    My Profile
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 
    

    <div class="profile-background">
        <div class="community-image"> --Image-- </div>
        <button id="join-button" class="join-button">{{ is_joined }}</button>
        <p class="community-name">{{ community.name }}</p>
        <p class="follower-count">Followers: {{ community.followers }}</p>
        <p class="admin-email">Admin's Email: {{ community.admin }}</p>
        <p class="about-text">About: {{ community.description }}</p>
    </div>

    <div class="tabs">
        <input type="radio" class="tabs__radio" name="community-tabs" id="posts-tab" checked>
        <label for="posts-tab" class="tabs__label">Posts</label>
        <div class="tabs__content"> Posts Tab</div>
        <input type="radio" class="tabs__radio" name="community-tabs" id="followers-tab">
        <label for="followers-tab" class="tabs__label">Followers</label>
        <div class="tabs__content">Followers Tab</div>
        <input type="radio" class="tabs__radio" name="community-tabs" id="media-tab">
        <label for="media-tab" class="tabs__label">Media</label>
        <div class="tabs__content"> Media Tab </div>
    </div>   
</div>

<script>

    const socket = io.connect('http://localhost:5000');

    socket.on('connect', () => {
        socket.send('Connection Successfull');
    })

    const joinButton = document.getElementById('join-button');

    /**
     * If the join button says "Join" then this means that the current user is not 
     * following the club however if it says "Unfollow" then the current user
     * is currently following the club
     * 
     * So according to this we can send  either 'Join' or 'Unfollow' requests to the server
     * */
    joinButton.addEventListener('click', () => {
        if (joinButton.innerText == 'Join') {
            socket.emit('joinClub', '{{ community.name }}');
        }
        else if (joinButton.innerText == 'Unfollow') {
            socket.emit('unfollowClub', '{{ community.name }}');
        }
    })

    /**
     * Change text to "Unfollow"
     * 
     * This occurs after the current user joins a club 
     * */
    socket.on('adjustJoinedPage', () => {
        joinButton.innerText = "Unfollow";
    })

     /**
     * Change text to "Join"
     * 
     * This occurs after the current user unfollows a club
     * */
    socket.on('adjustUnfollowedPage', () => {
        joinButton.innerText = "Join";
    })
</script>

</body>
</html>
