<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/home_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Home</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg nav-01 fixed-top">
        <div class="container-fluid ">
            <a class="a-01" href="{{ url_for('user') }}">LearnBook</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-response" aria-controls="navbar-response" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbar-response">
                <ul class="navbar-nav">
                    <li class="nav-item items-02">
                        <a class="a-current" href="{{ url_for('user') }}">
                            <div class="row text-center">
                                <span class="material-symbols-outlined" id="navbar-icons">
                                    home
                                </span>
                            </div>
                            <div class="row text-02 justify-content-center">
                                Home
                            </div>
                        </a>
                    </li>
                    <li class="nav-item items-02">
                        <a class="a-02" href="{{ url_for('chat') }}">
                            <div class="row text-center">
                                <span class="material-symbols-outlined" id="navbar-icons">
                                    chat
                                </span>
                            </div>
                            <div class="row text-02 justify-content-center">
                                Chats
                            </div>
                        </a>
                    </li>
                    <li class="nav-item items-02">
                        <a class="a-02" href="{{ url_for('search') }}">
                            <div class="row text-center">
                                <span class="material-symbols-outlined" id="navbar-icons">
                                    groups
                                </span>
                            </div>
                            <div class="row text-02 justify-content-center">
                                Communites
                            </div>
                        </a>
                    </li>
                    <li class="nav-item items-02">
                        <a class="a-02" href="{{ url_for('search') }}">
                            <div class="row text-center">
                                <span class="material-symbols-outlined" id="navbar-icons">
                                    search
                                </span>
                            </div>
                            <div class="row text-02 justify-content-center">
                                Search
                            </div>
                        </a>
                    </li>
                    <li class="nav-item items-02">
                        <a class="a-02" href="{{ url_for('profile_page') }}">
                            <div class="row text-center">
                                <span class="material-symbols-outlined" id="navbar-icons">
                                    manage_accounts
                                </span>
                            </div>
                            <div class="row text-02 justify-content-center">
                                My Profile
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="a-02" href="{{ url_for('logout') }}">
                            <div class="row text-center">
                                <span class="material-symbols-outlined" id="navbar-icons">
                                    logout
                                </span>
                            </div>
                            <div class="row text-02 justify-content-center">
                                Logout
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container-fluid" id="div-00">
        <div class="row">
            <div class="col-sm-3" style="padding: 0px;">
                <div class="left-pane pane_height">
                    
                    <input class="input-01" type="text" placeholder="Search here">

                    <!-- List of communities -->
                    <div class="col communities-column">
                        {% for community in current_user.followed_community %}
                        <button class="community">
                            <div class="community-pic">
                                <img src="" alt="">
                            </div>
                            <label class="community-name">
                                <a href="{{ url_for('community_profile_page', name=community) }}">{{ community }}</a>
                            </label>
                        </button>
                        {% endfor %}

                        <button class="community">
                            <div class="community-pic">
                                <img src="" alt="">
                            </div>
                            <label class="community-name">CMPE 331 Project</label>
                        </button>

                        <button class="community">
                            <div class="community-pic">
                                <img src="" alt="">
                            </div>
                            <label class="community-name">Google Development Club</label>
                        </button>
                           
                    </div>

                    <button class="other-btn">Other Communites</button>
                </div>
            </div>

            <div id="content-section" class="col-sm-6 middle-pane">
                <!-- Make new publication div -->
                <div class="row create-post-div">
                        <div class="row">
                            <div class="create-post-profile-pic">
                                <img src="" alt="">
                            </div>
                            <input id="text-input" name="text-content" class="input-02" type="text" placeholder="New publication">
                        </div>
                    
                        <div class="row" style="margin-top: 2.5vh;">
                            <div class="col" style="text-align: center;">
                                <button class="post-btns"><img class="post-icons" src="../static/images/photo_icon.png" alt="">Photo</button>
                                <button class="post-btns"><img class="post-icons" src="../static/images/video_icon.png" alt="">Video</button>
                                <button class="post-btns"><img class="post-icons" src="../static/images/calender_icon.png" alt="">Event</button>
                                <button class="post-btns"><img class="post-icons" src="../static/images/article_icon.png" alt="">Article</button>
                            </div>
                        </div>

                        <!--Post button-->
                        <button type="submit" id="post-button">Post</button> 
                 </div>

                <!-- Post template -->
                <div class="row post-div">
                    <div class="row user-post-info">
                        <div class="col">
                            <div class="post-profile-pic">
                                <img src="" alt="">
                            </div>
                            <label class="post-user-name">Jimmy Neutron</label>
                            <button class="edit-post-btn">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                            </button>
                        </div>
                    </div>
    
                        <div class="col post-content">
                            <p>
                                Hello Everyone! We will hold a Chess Tournament on december 26th!!!
                                For more details follow the link below :D
                            </p>
                            <img class="post-img" src="../static/images/ChessSet.png" alt="" >
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLAGB884/viewform?pli=1">https://docs.google.com/forms/d/e/1FAIpQLAGB884/viewform?pli=1</a>
                        </div> <!--End of post content-->

                        <div class="col post-footer">
                            <div class="row" style="height: 2vh;">
                            
                            </div>

                            <div class="row justify-content-center">

                                <button class="post-footer-btn">
                                    <div class="row">
                                        <span class="material-symbols-outlined">
                                        thumb_up
                                        </span>
                                    </div>
                                    Like

                                <button class="post-footer-btn">
                                <div class="row">
                                    <span class="material-symbols-outlined">
                                        comment
                                    </span>
                                </div>
                                    Comment
                                </button>

                                <button class="post-footer-btn">
                                    <div class="row">
                                        <span class="material-symbols-outlined">
                                            share
                                        </span>
                                    </div>
                                        Share
                                </button>
                            </div>
                        </div> <!--End of Post footer-->
                </div>

            </div>

            <div class="col-sm-3"  style="padding: 0px;">
                <div class="right-pane pane_height">
                    <!-- Personal Card -->
                    <div class="user-card">

                        <div class="user-pic">
                            <img src="" alt="">
                        </div>
                        <div class="user-name"><a href="{{ url_for('profile_page') }}">{{ current_user.name }}</a></div>
                        <div class="occupation">{{ current_user.department }}</div>
                        
                        
                        <div>
                            <button class="user-card-btn">
                                <span class="material-symbols-outlined icon-01">
                                    person
                                </span>
                              Following: {{ current_user.user_follower_count }}
                            </button>

                            <button class="user-card-btn">
                                <span class="material-symbols-outlined icon-01">
                                    groups
                                </span>
                                Communities: {{ current_user.user_community_count }}
                            </button>
                        </div>
                    </div>

                    <!-- List of Friends (Hideable) -->
                    <div class="friends-list">
                        <input class="input-03" type="text" placeholder="Search here">

                        <button class="friend" style="border-top: 1px solid;">
                            <div class="friend-pic">
                                <img src="" alt="">
                            </div>
                            <label class="friend-name">Sheen Estvez</label>
                        </button>

                        <button class="friend">
                            <div class="friend-pic">
                                <img src="" alt="">
                            </div>
                            <label class="friend-name">Carl Wheezer</label>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        var x = $(".nav-01").outerHeight();
        var h = window.innerHeight;
        document.getElementById('div-00').style.marginTop= x +'px';
        $(".pane_height").height(h-x);
    </script>

    <script>
    $(document).ready( () => {
        let socket = io.connect("http://localhost:5000");
        const postButton = document.getElementById('post-button');
        const textInput = document.getElementById('text-input');

        /**
         * When the current user connects to the website, the server
         * will provide them content from people/community they follow
         * */
        socket.on('connect', () => {
            socket.emit('getFeed');
        })

        /**
         * When user attempts to upload their post
         * */
        postButton.addEventListener('click', () => {
            const textInputCheck = textInput.value.trim();

            if (textInputCheck) { // Check if input is not empty
                alert('Post Uploaded!');
                socket.emit('postFeed',{
                    'text-content': textInput.value
                });

                textInput.value = ''; // Empty the text input after submitting the post
            }
        })

        /**
         * After the server provided the current user with the content
         * of people/community they follow then it is time to place them
         * nicely on the feed page
         * 
         * the downside here is that it will load everything into one page
         * which can be very much RAM consuming
         * */
        socket.on('adjustPostPage', (data) => {
            
            for(var i=0; i<data.length; i++){

            var newPost = document.createElement('div');
            newPost.setAttribute('class', 'row post-div');

            newPost.innerHTML = `<div class="row user-post-info">
                        <div class="col">
                            <div class="post-profile-pic">
                                <img src="" alt="">
                            </div>
                            <label class="post-user-name">${data[i]['author-name']}</label>
                            <button class="edit-post-btn">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                            </button>
                        </div>
                    </div>
    
                        <div class="col post-content">
                            <p>
                                ${data[i]['text-content']}
                            </p>
                            <img class="post-img" alt="">
                        </div> <!--End of post content-->

                        <div class="col post-footer">
                            <div class="row" style="height: 2vh;">
                            
                            </div>

                            <div class="row justify-content-center">

                                <button class="post-footer-btn">
                                    <div class="row">
                                        <span class="material-symbols-outlined">
                                        thumb_up
                                        </span>
                                    </div>
                                    Like

                                <button class="post-footer-btn">
                                <div class="row">
                                    <span class="material-symbols-outlined">
                                        comment
                                    </span>
                                </div>
                                    Comment
                                </button>

                                <button class="post-footer-btn">
                                    <div class="row">
                                        <span class="material-symbols-outlined">
                                            share
                                        </span>
                                    </div>
                                        Share
                                </button>
                            </div>
                        </div> <!--End of Post footer-->`;

            document.getElementById('content-section').appendChild(newPost);
                    }
        });
    })
    </script>
</body>

</html>
