{% extends 'base-form.html' %}
{% block title %}Login to LearnBook{% endblock %}

{% block form_content %}
    <form action="{{ url_for('login') }}" method="post" class="form">

        <div class="input-container">
            <input type="text" id="email" name="email" placeholder="Email" class="entry" required>
            <i class="fa-solid fa-user input-icon"></i>
        </div>

        <div class="input-container">
            <input type="password" id="password" name="password" placeholder="Password" class="entry" required>
            <i class="fa-solid fa-lock input-icon"></i>
        </div>

        <button type="submit" class="btn-1">Login</button>

        <p class="form-footer">Not registered? <a href="./sign-up" class="link">Register now!</a></p>
    </form>
{% endblock %}