{% extends 'base-form.html' %}
{% block title %}Login to LearnBook{% endblock %}

{% block form_content %}
        <form action="form.py" method="login" class="form">

            <div class="input-container">
                <input type="text" id="name" name="name" placeholder="Name" class="entry" required>
                <i class="fa-solid fa-user input-icon"></i>
            </div>

            <div class="input-container">
                <input type="text" id="email" name="email" placeholder="Email" class="entry" required>
                <i class="fa-solid fa-user input-icon"></i>
            </div>

            <div class="input-container">
                <input type="password" id="password" name="password" placeholder="Password" class="entry" required>
                <i class="fa-solid fa-lock input-icon"></i>
            </div>

            <div class="input-container">
                <select id="department" name="department" class="entry" style="padding: 5px 10px; height: 40px;" required>
                    <option value="" disabled selected>Select Your Department</option>
                    <option value="cmpe">Computer Engineering</option>
                    <option value="eeen">Electrical Electronics</option>
                    <option value="arch">Architecture</option>
                </select>
            </div>

            <button type="submit" class="btn-1">Sign Up</button>

            <p class="form-footer">Already registered? <a href="./login" class="link">Login now!</a></p>

        </form>
{% endblock %}