.nav-01 {
    background-color: #AAAA68;
}

.nav-01 a.active {
    background-color: #04AA6D;
    color: white;
}

.a-01 {
    text-decoration: none;
    color: #0C0557;
    font-weight: 900;
    font-size: 46px;
    margin-left: 50px;
}

.nav-02 {
    margin-right: 12.5%;
    height: 70px;
}

.a-02, #current {
    text-decoration: none;
    color: black;
}

.text-02 {
    font-size: 20px;
    font-weight: 500;
}

.items-02 {
    margin-top: 3px;
    padding-right: 55px;
}

.text-on-icon>.button-inner {
    flex-direction: column;
}

#navbar-icons {
    font-size: 35px;
}

.a-03 {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-right: 40px;
}

.a-02:hover,
.a-03:hover,
#current:hover {
    color: white;
    transition: ease 0.2s;
}

.a-02:active,
.a-03:active {
    color: black;
}
/*All previous is for the NavBar*/ 

.profile-pic {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    margin-top: 5.5%;
    margin-left: 2%;
    opacity: 100%;
}

.user_info {
    width: 100%;
    margin-left: 20px;
    margin-top: 8.5%;
}

.users_name{
    color: #8F3B1C;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 6px;
}

.users_occupation{
    font-weight: 600;
    font-size: 16px;
}

.icon-03 {
    text-decoration: none;
    color: black;
    position: relative;
    left: 73%;
    top: 40%;
}

#icon-04 {
    font-size: 30px;
}

.input-01 {
    margin-left: 8%;
    padding: 10px;
    padding-left: 50px;
    margin-right: 110px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    outline: none;
    width: 19.25vw;
}

#icon-05 {
    position: relative;
    left: 10.3%;
    bottom: 60.5%;
    font-size: 30px;
}

#inputMessage {
    outline: none;
    margin-bottom: 2.5vh;
    height: 40px;
    width: 43vw;
}

.chat-container {
    text-align: center;
}

.txtMessage {
    color: blue;
}
